/**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 */

code[class*="language-"] {
  color: #ebdbb2;
  font-family: $mono-family;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: normal;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: $small-font-size;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}


pre[class*="language-"] {
  margin: 0 -27px;
  @include media-query($on-mobile) {
    margin: 0 calc(51% - 51vw);
    padding-left: 20px;
  }
  border: 1px solid rgba(128, 128, 128, 0.1);
  background-color: #1a1b21;
  border-radius: 2px;
  padding: 10px;
  display: block;
  overflow-x: auto;

  > code {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    display: block;
    border: 0;
  }
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  color: #fff;
  background: #f05e23;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  color: #fff;
  background: #f05e23;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #1d2021;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #a89984;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #fb4934;
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a89984;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #fabd2f;
}

.token.entity,
.token.number,
.token.symbol {
  color: #d3869b;
}

.token.property,
.token.constant,
.token.variable {
  color: #fb4934;
}

.token.string,
.token.char {
  color: #b8bb26;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a89984;
}

.token.url {
  color: #b8bb26;
  text-decoration: underline;
}

.token.function {
  color: #fabd2f;
}

.token.regex {
  background: #b8bb26;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #a89984;
}

.token.deleted {
  background: #fb4934;
}
