@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: #222;
	color: #e24a1c;
}

html {
	min-width: 360px;
}

.prose {
	@apply text-[#000000] dark:text-[#FFFFFF];
}

.prose .anchor {
	@apply absolute invisible no-underline;
	margin-left: -1em;
	padding-right: 0.5em;
	width: 80%;
	max-width: 700px;
	cursor: pointer;
}

.anchor:hover {
	@apply visible;
}

.prose a {
	@apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em] font-normal text-[#000000] dark:text-[#FFFFFF];
}

.prose a:hover {
	@apply dark:decoration-neutral-400 decoration-neutral-600;
}

.prose .anchor:after {
	@apply text-neutral-300 dark:text-neutral-700;
	content: "#";
}

.prose *:hover > .anchor {
	@apply visible;
}

.prose pre {
	@apply bg-[#F7F7F7] dark:bg-[#181818] rounded-lg overflow-x-auto;
}

.prose code {
	@apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
	@apply p-0;
	border: initial;
	line-height: 1.5;
}

.prose code span {
	@apply font-medium;
}

.prose img {
	/* Don't apply styles to next/image */
	@apply m-0;
}

.prose h2,
h3,
h4,
h5,
h6 {
	@apply font-medium tracking-tight !important;
}

.prose strong {
	@apply font-medium;
}

.prose > :first-child {
	/* Override removing top margin, causing layout shift */
	margin-top: 1.25em !important;
	margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
	display: none;
}

pre {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.prose .tweet a {
	text-decoration: inherit;
	font-weight: 500;
}

table {
	display: block;
	max-width: fit-content;
	overflow-x: auto;
	white-space: nowrap;
}

.prose .callout > p {
	margin: 0 !important;
}

.title {
	text-wrap: balance;
}

/* misc */
/* //spinning cube */
:root {
	--face-size: 256px;
	--face-offset: calc(var(--face-size) / 2);
	--face-offset-reverse: calc(var(--face-size) / 2 * -1);
}

@-webkit-keyframes spin {
	0% {
		transform: rotateY(0) rotateX(0);
	}

	50% {
		transform: rotateY(1turn) rotateX(180deg);
	}

	to {
		transform: rotateY(2turn) rotateX(1turn);
	}
}

@keyframes spin {
	0% {
		transform: rotateY(0) rotateX(0);
	}

	50% {
		transform: rotateY(1turn) rotateX(180deg);
	}

	to {
		transform: rotateY(2turn) rotateX(1turn);
	}
}

section#visual {
	font: inherit;
}

#visual {
	float: right;
	transform: scale(0.25);
	margin: 0rem -5rem;
	z-index: -1;
}

#cube,
#cube img,
#visual {
	width: var(--face-size);
}

#cube {
	position: relative;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
	transform-style: preserve-3d;
	transform-origin: var(--face-offset) var(--face-offset);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

#cube img {
	position: absolute;
	height: var(--face-size);
	border-radius: 0;
}

#cube .face-1 {
	transform: translateZ(var(--face-offset));
}

#cube .face-3 {
	transform: translateZ(var(--face-offset-reverse)) rotateY(180deg);
}

#cube .face-2 {
	transform: rotateY(-270deg) translateX(var(--face-offset));
	transform-origin: top right;
}

#cube .face-4 {
	transform: rotateY(270deg) translateX(var(--face-offset-reverse));
	transform-origin: center left;
}

#cube .face-0 {
	transform: rotateX(-90deg) translateY(var(--face-offset-reverse));
	transform-origin: top center;
}

#cube .face-5 {
	transform: rotateX(90deg) translateY(var(--face-offset));
	transform-origin: bottom center;
}

.embed-responsive {
	height: 0;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
	margin-top: 20px;

	iframe,
	object,
	embed {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		border: 0;
	}
}
