body.dark-mode {
  article {
    a {
      color: $dark-highlight;
    }

    a:hover,
    a:active,
    a:focus {
      color: $dark-text;
    }
  }

  img[alt$="infra"] {
    filter: invert(100%);
  }

  color: $dark-text;
  background-color: $dark-black;

  // Heading
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-text;
  }

  // Table
  table {
    thead {
      color: $dark-text;
      border-color: $dark-light;
    }

    th,
    td,
    tr {
      border-color: $dark-light;
    }
  }

  // Post
  .page-content {
    a {
      color: $dark-highlight;

      &:hover,
      &:active,
      &:focus {
        color: $dark-highlight;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .anchor-head {
        color: $dark-highlight;
      }
    }
  }

  // Syntax
  code {
    &.highlighter-rouge {
      background-color: $dark-light;
    }
  }

  .icon {
    :hover {
      color: $dark-highlight;
    }
  }
  a {
    color: inherit;

    &:hover {
      color: $dark-highlight;
    }

    &:focus {
      outline-color: rgba(255, 82, 119, 0.6);
    }
  }
  // List
  li {
    &:before {
      color: $dark-text;
    }
  }

  // Blockquote
  blockquote {
    color: $dark-gray;
    border-color: $dark-light;
  }

  // Strong, Bold
  strong,
  b {
    color: $dark-text;
  }

  section.post {
    border-top: 1px solid $dark-light;
  }

  // Navbar
  nav {
    border-bottom: 1px solid $dark-light;
  }

  mark,
  ::selection {
    background: $dark-highlight;
    color: $dark-light;
  }

}