$display-family: Helvetica Neue LT Pro Md, Inter;
$mono-family: Consolas, monospace;
$text-base-color: #2c2c2c;
$black: #333;
$white: #fff;
$light: #ececec;
$gray: #616161;

$text-link-blue: #ff6d6b;
$text-link-blue-active: #ff6d6b;
$base-font-size: 1.5rem;
$small-font-size: $base-font-size * 0.875;
$h1-font: 2rem;
$normal-weight: 500;
$bold-weight: 700;

// Width of the content area
$wide-size: 1000px;
$narrow-size: 875px;

// Padding unit
$spacing-full: 30px;
$spacing-half: $spacing-full / 2;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Reset some basic elements
* {
  -webkit-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -moz-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -ms-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -o-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  transition: background-color 25ms ease-in, border-color 25ms ease-in;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: $text-base-color;
  font: $normal-weight $base-font-size $display-family;
  background-color: $white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  box-sizing: border-box;
}

.header {
  flex-grow: 4;
  font: $display-family;
  font-weight: $bold-weight;
  font-size: $h1-font;
  color: $text-base-color;
  text-decoration: none;

  padding: 0;
  margin: 0;
  position: relative;
  clear: both;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  z-index: 1;
}

.icon {
  padding: 15px;
  display: inline;
  pointer-events: bounding-box;
  font-size: 3rem;
  :hover {
    color: #ddd;
  }
}

.author {
  margin-top: 3rem;
  margin-bottom: 7.2rem;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-top: $spacing-full - 20;
  margin-bottom: $spacing-full - 20;
}

img {
  width: 5rem;
  height: 5rem;
}


nav {
  display: flex;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid $light;
  padding: $spacing-full - 15px $spacing-full;
  align-items: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
nav > a {
  color: $black;
  text-decoration: none;
  padding: 5px 8px;
  opacity: 0.85;
  letter-spacing: 0.3px;

  &:hover {
    opacity: 1;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

  @include media-query($on-mobile) {
    opacity: 0.8;
  }
}




// Animation fade-in
@keyframes fadein {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.8;
  }
}

// Animation blur
@keyframes blur {
  0% {
    filter: blur(0px);
  }

  100% {
    filter: blur(4px);
  }
}

// Responsive embed video
.embed-responsive {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 20px;

  iframe,
  object,
  embed {
    top: -200;
    left: 500;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

:root {
  --background-color: #ddd;
  --primary-text-color: #000;
  --secondary-text-color: #333;
  --link-text-color: #111;
  --face-size: 256px;
  --face-offset: calc(var(--face-size) / 2);
  --face-offset-reverse: calc(var(--face-size) / 2 * -1);
}

@-webkit-keyframes spin {
  0% {
    transform: rotateY(0) rotateX(0);
  }

  50% {
    transform: rotateY(1turn) rotateX(180deg);
  }

  to {
    transform: rotateY(2turn) rotateX(1turn);
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0) rotateX(0);
  }

  50% {
    transform: rotateY(1turn) rotateX(180deg);
  }

  to {
    transform: rotateY(2turn) rotateX(1turn);
  }
}

section#visual {
  font: inherit;
}

#visual {
  float: right;
transform: scale(0.25);
}

#cube,
#cube img,
#visual {
  width: var(--face-size);
}

#cube {
  position: relative;
  -webkit-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
  transform-style: preserve-3d;
  transform-origin: var(--face-offset) var(--face-offset);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#cube img {
  position: absolute;
  height: var(--face-size);
}

#cube .face-1 {
  transform: translateZ(var(--face-offset));
}

#cube .face-3 {
  transform: translateZ(var(--face-offset-reverse)) rotateY(180deg);
}

#cube .face-2 {
  transform: rotateY(-270deg) translateX(var(--face-offset));
  transform-origin: top right;
}

#cube .face-4 {
  transform: rotateY(270deg) translateX(var(--face-offset-reverse));
  transform-origin: center left;
}

#cube .face-0 {
  transform: rotateX(-90deg) translateY(var(--face-offset-reverse));
  transform-origin: top center;
}

#cube .face-5 {
  transform: rotateX(90deg) translateY(var(--face-offset));
  transform-origin: bottom center;
}
main {
  max-width: calc(#{$wide-size} - (#{$spacing-full} * 2));
  max-width: -webkit-calc(#{$wide-size} - (#{$spacing-full} * 2));
  margin: $spacing-full - 15px auto;
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import sass files
@import "font", "code";
