@use 'sass:math';
$display-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Inter,Open Sans,sans-serif;
$mono-family: Consolas, monospace;
$base-line-height: 1.35;

$light-text: #222;
$light: #f3f2ee; //background
$border: #aaaaaa;
$highlight: #4b776d; 

//dark
//should be same or dark white should be ligher
$dark-text: #eeeeee;
$dark-highlight: #96b8ac; //#b1d8d0;
$dark-black: #1e1f21;
$dark-light: #444;
$dark-gray: #767f87;

$base-font-size: 1.35rem;
$small-font-size: $base-font-size * 0.875;
$h1-font: 2rem;
$normal-weight: 500;
$bold-weight: 700;
// Width of the content area
$narrow-size: 1000px;

// Padding unit
$spacing-full: 30px;
$spacing-half: math.div($spacing-full, 2);

// State of devices
$on-mobile: 768px;
$on-desktop: 1024px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  @include media-query($on-mobile) {
    font-size: $base-font-size * $ratio * .8;
  }
  font-size: $base-font-size * $ratio;
}

// Reset some basic elements
* {
  -webkit-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -moz-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -ms-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  -o-transition: background-color 25ms ease-in, border-color 25ms ease-in;
  transition: background-color 25ms ease-in, border-color 25ms ease-in;
}

.notransition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

html {
  overflow-x: hidden;
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-top: $spacing-full - 20;
  margin-bottom: $spacing-full - 20;
}

strong,
b {
  font-weight: $bold-weight;
  color: $light-text;
}

// horizontal rule
hr {
  border-bottom: 0;
  border-style: solid;
  border-color: $border;
}

// Image
img {
  border-radius: 1rem;
  max-width: 100%;
  vertical-align: middle;
  -webkit-user-drag: none;
  margin: 0 auto;
  text-align: center;
}

// Figure
figure {
  position: relative;
}

// Image inside Figure tag
figure > img {
  display: block;
  position: relative;
}

// Image caption
figcaption {
  font-size: 13px;
  text-align: center;
}

// List
ul {
  list-style: none;
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  li::before {
    content: "\FE63";
    display: inline-block;
    top: -1px;
    width: 1.2em;
    position: relative;
    margin-left: -1.3em;
    font-weight: 700;
  }
}

ol {
  list-style: none;
  counter-reset: li;
  li {
    position: relative;
    counter-increment: li;
    &::before {
      content: counter(li);
      display: inline-block;
      width: 1em;
      margin-right: 0.5em;
      margin-left: -1.6em;
      text-align: right;
      direction: rtl;
      font-weight: $bold-weight;
      font-size: $small-font-size;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-left: $spacing-full;
}

li {
  padding-bottom: 1px;
  padding-top: 1px;

  &:before {
    color: $light-text;
  }

  > ul,
  > ol {
    margin-bottom: 2px;
    margin-top: 0;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $light-text;
  font-weight: $bold-weight;
  & + ul,
  & + ol {
    margin-top: 10px;
  }
}

// Headings with link
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  border: none;

  &:hover {
    text-decoration: none;
    border: none;
  }
}

// Del
del {
  color: inherit;
}

// Em
em {
  color: inherit;
}

// Blockquotes
blockquote {
  color: $border;
  font-style: italic;
  text-align: center;
  opacity: 0.9;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;

  > :last-child {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Underline
u {
  text-decoration-color: #d2c7c7;
}

// Superscript
sup {
  border-radius: 10%;
  top: -3px;
  left: 2px;
  font-size: small;
  position: relative;
  margin-right: 2px;
}

body {
  max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full} * 2));
  max-width: calc(#{$narrow-size} - (#{$spacing-full} * 2));
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-full;
  padding-left: $spacing-full;
  min-height: 100vh;
  color: $light-text;
  font: $normal-weight #{$base-font-size}/#{$base-line-height} $display-family;
  background-color: $light;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  box-sizing: border-box;
  overflow-x: hidden;
  @extend %clearfix;

  @include media-query($on-mobile) {
    max-width: -webkit-calc(#{$narrow-size} - (#{$spacing-full}));
    max-width: calc(#{$narrow-size} - (#{$spacing-full}));
    padding-right: $spacing-full - 10;
    padding-left: $spacing-full - 10;

    &.blurry {
      animation: 0.2s ease-in forwards blur;
      -webkit-animation: 0.2s ease-in forwards blur;
    }
  }
}

.icon {
  padding-right: 1rem;
  display: inline;
  pointer-events: bounding-box;
  :hover {
    color: $highlight;
  }
  a {
    color: $light-text;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  @include relative-font-size(1.5);
}


a {
  color: inherit;

  &:hover {
    color: $highlight;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  border-bottom: 1px solid $border;
  position: relative;
  padding: .5rem 0;
  @include media-query($on-mobile){
    justify-content: space-evenly;
  }
  @extend %clearfix;
}

nav > a {
  color: $light-text;
  text-decoration: none;
  padding: .5rem .8rem;
  opacity: 0.85;
  letter-spacing: 0.3px;
  @include relative-font-size(1.3);
  &:hover {
    opacity: 0.75;
  }
  @include media-query($on-mobile){
    padding: .25rem;
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}

//post name
h3 > a {
  color: $light-text;
  text-decoration: none;
  opacity: 0.95;
  letter-spacing: 0.15px;

  &:hover {
    color: $highlight;
    opacity: 0.75;
  }
  @include relative-font-size(1.10)
}

time{
  @include relative-font-size(1);
}

h2 {
  @include relative-font-size(1.5);
}

.edwin {
  transform: rotate(90deg);
  border-radius: 25px;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1) brightness(100%);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  :hover {
    filter: none;
  }
}

.inline-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.about {
  width: 100%;
  min-width: 35%;
}

.heroImage {
  border-radius: 10px;
  display: block;
  width: auto;
  height: auto;
}

.ImageDiv {
  position: relative;
  width: 150px;
  min-height: 150px;
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
}

section.post {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top: 1px solid $border;
}

// Table
.overflow-table {
  overflow-x: auto;
}

table {
  width: 100%;
  margin-top: $spacing-half;
  border-collapse: collapse;
  font-size: $small-font-size;

  thead {
    font-weight: $bold-weight;
    color: $light-text;
    border-bottom: 2px solid $light-text;
  }

  th,
  td,
  tr {
    border: 1px solid $light-text;
    padding: 2px 7px;
  }
}

// Clearfix
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// When mouse block a text set this color
mark,
::selection {
  background: $highlight;
  color: $light;
}

// Github Gist clear border
.gist {
  table {
    border: 0;

    tr,
    td {
      border: 0;
    }
  }
}

.basic-grid {
  display: grid;
  padding-top: 1rem;
  max-width: 85%;
  margin: 0 auto;
  
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}

.a {
  grid-row: span 2;
}

.b {
  grid-row-end: span 2;
}

.namelink{
  text-decoration: underline dashed;
}

.btn{
  background-color: $highlight;
  color: $light-text;
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  :hover {
    background-color: $light;
    color: $highlight;
  }
}


.box {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $dark-gray;

  color: $dark-text;
  font-size: $base-font-size;
  font-weight: $bold-weight;
  text-align: left;
  @extend %clearfix;
}

// Import sass files
@import "font", "code", "markdown", "dark", "misc";
