.postTitle {
  margin-top: 2rem;
  line-height: 1.2;
  @include relative-font-size(1.5)
}

// Post content
article {
  @include relative-font-size(.90);
  iframe {
    text-align: center;
  }

  figure {
    img {
      border-radius: 2px;
    }

    figcaption {
      margin-top: 5px;
      font-style: italic;
      @include relative-font-size(1)
    }
  }

  details {
    summary {
      padding: .5rem;
      cursor: pointer;
    }

    border: 1px solid $light-text;
    background-color: $light;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);

    margin-bottom: 1rem;
  }

  .page-link {
    color: $light-text;
    text-decoration: underline;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }

  li {
    &::before {
      content: "";
    }
  }

  a {
    color: $highlight;
    text-decoration: none;
    &[target="_blank"]::after {
      content: " \2197";
      line-height: 0;
      position: relative;
      bottom: 5px;
      vertical-align: baseline;
    }

    &:hover {
      color: $highlight;
    }

    &:focus {
      color: $highlight;
    }
  }

  p {
    margin: 0;
    padding-top: $spacing-full - 20;
    padding-bottom: $spacing-full - 25;
    // line length of 80 characters
    max-width: 80ch;
  }

  ul.task-list {
    list-style: none;
    margin: 0;

    li::before {
      content: "";
    }

    li input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  dl dt {
    font-weight: $bold-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-text;
    font-weight: $bold-weight;
    margin-top: 1.2rem;
    margin-bottom: 0;
    border-bottom: 1px solid $border;

    &:hover {
      .anchor-head {
        color: $highlight;
        opacity: 1;
      }
    }

    .anchor-head {
      position: relative;
      opacity: 0;
      outline: none;

      &::before {
        content: "#";
        position: absolute;
        right: -3px;
        width: 1em;
        font-weight: $bold-weight;
      }
    }
  }

  h1 {
    @include relative-font-size(1.5);
  }

  h2 {
    @include relative-font-size(1.4);
  }

  h3 {
    @include relative-font-size(1.35);
  }

  h4 {
    @include relative-font-size(1.25);
  }
}

.post-updated-at {
  font-family: "Ubuntu mono", "monospace";
}
