.postTitle {
  margin-top: 2rem;
  line-height: 1.2;
  @include media-query($on-mobile) {
    font-size: 1.9em;
  }
}

// Post content
article {
  iframe {
    text-align: center;
  }

  figure {
    img {
      border-radius: 2px;
    }

    figcaption {
      margin-top: 5px;
      font-style: italic;
      font-size: $small-font-size;
    }
  }

  a {
    color: $highlight;
    text-decoration: none;
    &[target="_blank"]::after {
      content: " \2197";
      font-size: $small-font-size;
      line-height: 0;
      position: relative;
      bottom: 5px;
      vertical-align: baseline;
    }

    &:hover {
      color: $highlight;
    }

    &:focus {
      color: $highlight;
    }
  }

  > p {
    margin: 0;
    padding-top: $spacing-full - 15;
    padding-bottom: $spacing-full - 15;
  }

  ul.task-list {
    list-style: none;
    margin: 0;

    li::before {
      content: "";
    }

    li input[type="checkbox"] {
      margin-right: 10px;
    }
  }

  dl dt {
    font-weight: $bold-weight;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-text;
    font-weight: $bold-weight;
    margin-top: $spacing-full;
    margin-bottom: 0;

    &:hover {
      .anchor-head {
        color: $highlight;
        opacity: 1;
      }
    }

    .anchor-head {
      position: relative;
      opacity: 0;
      outline: none;

      &::before {
        content: "#";
        position: absolute;
        right: -3px;
        width: 1em;
        font-weight: $bold-weight;
      }
    }
  }

  h1 {
    @include relative-font-size(1.5);
  }

  h2 {
    @include relative-font-size(1.375);
  }

  h3 {
    @include relative-font-size(1.25);
    border-bottom: 1px solid $light;
    padding-bottom: 4px;
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1);
  }

  h6 {
    @include relative-font-size(0.875);
  }
}

.post-updated-at {
  font-family: "Ubuntu mono", "monospace";
}
